.form {
    display: inline-block;
    position:absolute;
    left: calc((100% - 200px) / 2);
    top: calc((100% - 300px) / 2);
    padding: 60px 20px 40px 20px;
    border: 2px solid black;
    border-radius: 15px;
}

.form-row {
}

.form-row > input {
    background-color: bisque;
}

.form > p {
}

.form-row > select {
}

.form-row > button {
    background-color: aquamarine;
}



